$brightestColor: #fff; 
$darkColor: #181411;
$darkestColor: #000;
$mainColor: #FFA553;
$darkMainColor:rgba(255, 122, 0, 0.33);
$lightMainColor:rgba(252, 190, 133, 0.6);
$neutralColor: #9C9C9C;
$neutralLightColor: #adabab;
$neutralDarkColor: #A0A0A0;
$coffeeImgURL: '../img/coffee-bg.png';