<footer class="footer">
    <div class="container footer__container">
         <!-- <div class="footer__inner"> -->
            <div class="footer__row-top">
                @@include('../../UI/logo.html', {'class':'footer__logo'})
                <div class="footer__soc-links">
                    <div class="footer__soc-links-inner">
                        @@include('../../UI/soc-link.html', {'href':'/','img':'@img/link-inst-icon.svg'})
                        @@include('../../UI/soc-link.html', {'href':'/','img':'@img/link-vk-icon.svg'})
                    </div>
                </div>
            </div>

            <div class="footer__row-middle">
                <div class="footer__middle">
                    <div class="footer__middle-info footer__middle-info--left">
                        @@include('../../UI/navigation.html', {'class': 'navigate__bottom', 'class-text':'footer__navigate-text', 'display':''})
                    </div>     
                    
        
                   <div class="footer__middle-info footer__middle-info--right">
                        <div class="contacts footer__contacts">
                            <span class="text footer__middle-text">
                                Работаем круглосуточно
                            </span>
                            <div class="footer__contacts-inner">
                                @@include('../../UI/contacts-item.html', {'img': '@img/map-icon.svg', 'text-top':'г. Тверь','text-bottom':'ул.&nbsp;Коминтерна&nbsp;77Б'})
                                @@include('../../UI/contacts-item.html', {'img': '@img/phone-icon.svg', 'text-top':'','text-bottom':'+7 (999) 999 99 99'})
                            </div>
                        </div>
                        <div class="footer__app-links-inner">
                                @@include('../../UI/app-link.html', {'class':'footer__app-link','class-link':'footer__img-apple','href':'/','alt':'app-store','src':'@img/apple-store-icon.svg', 'text':'Загрузить в App Store'})
                                @@include('../../UI/app-link.html', {'class':'footer__app-link','class-link':'footer__img-google','href':'/','alt':'google-play','src':'@img/google-play-icon.svg', 'text':'Доступно в Google Play'})
                        </div>
                   </div>  
                   
                </div>
                
            </div>
             
            
             
         <!-- </div> -->
    </div>
 </footer>