@import "../common/variables";

.circle-btn {
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    width: 44px;
    height: 44px;

    &.dark {
        background-color: $darkColor;
        border: 1px solid $brightestColor;
    
    }

    &.light {
        background-color: $brightestColor;
        border: 1px solid $darkestColor;
    }
}
