<section class="coffee">
    <div class="container coffee__container">
        <h2 class="title-second coffee__title-second">
            Кофе Мойка Like
        </h2>
        <div class="coffee__content">
            <div class="text coffee__text">
                Пока уходом за вашим авто заняты наши профессионалы, вы можете насладиться зерновым бодрящим кофе от MойкаLike
            </div>
            <div class="coffee__prices-list">

                @@include('./coffee-price.html',{'text':'Капучино','price':'150₽'})
                @@include('./coffee-price.html',{'text':'Латте','price':'150₽'})
                @@include('./coffee-price.html',{'text':'Американо','price':'150₽'})
                @@include('./coffee-price.html',{'text':'Капучино','price':'150₽'})

            </div>
        </div>
    </div>
</section>