@import '../../../../../common/variables.scss';

.acc-btn {
    display: flex;
    justify-content: space-between;
    background-color: transparent;

    border: 3px solid $mainColor;

    &__text-inner {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: 30px;
        font-weight: 500;
    }

    &__img-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        transition: transform 500ms ease 0ms;
    }

    &__img {
        width: 100%;
    }

    &.open {
        .acc-btn__img-inner {
            transform: rotate(0deg);
            transition: transform 500ms ease 0ms;
        }
    }
}