<section class="main">
    <div class="main__block">
        <div class="main__video-bg">
            <div class="vidbg-box">

            </div>
        </div>
        <div class="main__content">
            <div class="container main__container">
                <div class="main__info">
                    <h1 class="title main__info-title">
                        MойкаLike
                    </h1>
                    <p class="text main__info-text">
                        Благодаря обработке поверхности горячим воздухом, подобранным химическим составом и современному оборудованию мы с лёгкостью удалим грязь и вернём красоту вашему авто.
                    </p>
                </div>
                <div class="main__counter">
                    <div class="main__counter-inner">
                        <div class="main__cards-wrapper">
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                        </div>
                        @@include('../../UI/cards-info.html',{'text': 'Машин помыли','class':'main__cards-info'})
                    </div>
                    <div class="main__counter-inner">
                        <div class="main__cards-wrapper">
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                        </div>
                        @@include('../../UI/cards-info.html',{'text': 'Машин помыли','class':'main__cards-info'})
                    </div>
                    <div class="main__counter-inner">
                        <div class="main__cards-wrapper">
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                            @@include('../../UI/card-car.html', {'text': '1'})
                        </div>
                        @@include('../../UI/cards-info.html',{'text': 'Машин помыли','class':'main__cards-info'})
                    </div>
                </div>
                
            </div>
            @@include('../../UI/btn-video.html',{'class':'main__btn-video'})
        </div>    
    </div>
    
    
 </section>